<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue, {{ username }} !</h1>
    <a href="{{ url_for('main.mes_reseaux') }}">Mes Réseaux</a>
    <a href="{{ url_for('main.recherche') }}">Recherche</a>


    <ul>
        {% for friend in friends %}
            <li>
                <div class="card-header">
                    {% if friend.statut == 'accept' %}
                        <a href="{{ url_for('main.chat', ami_id=friend.id) }}">
                            <strong>{{ friend.username }}</strong>
                        </a>
                    {% else %}
                        <strong>{{ friend.username }}</strong>
                    {% endif %}
                    <em>{{ friend.statut }}</em>
                </div>
                <div class="card-date">
                    (depuis {{ friend.date_amitie.strftime('%d/%m/%Y') if friend.date_amitie else 'inconnue' }})
                </div>
            </li>        
        {% endfor %}
    </ul>    
    <p>Vous êtes connecté.</p>
    <a class="logout-link" href="{{ url_for('main.logout') }}">Se déconnecter</a>
</body>
</html>
